.input {
    margin: 10px 0;
}

.title {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 2em;
}

.button-container {
    gap: 10px;
    margin-top: 2em;
}