<div class="sidebar">
    <div class="item">
        <mat-icon>search</mat-icon>
        <div class="triangle"></div>
        <div class="text">Search</div>
    </div>
    <div class="item">
        <mat-icon>add</mat-icon>
        <div class="triangle"></div>
        <div class="text">Add</div>
    </div>
    <div class="item">
        <mat-icon>description</mat-icon>
        <div class="triangle"></div>
        <div class="text">Notes</div>
    </div>
    <div class="item">
        <mat-icon>label</mat-icon>
        <div class="triangle"></div>
        <div class="text">Labels</div>
    </div>
    <div class="item">
        <mat-icon>task</mat-icon>
        <div class="triangle"></div>
        <div class="text">Tasks</div>
    </div>
    <div class="item">
        <mat-icon>palette</mat-icon>
        <div class="triangle"></div>
        <div class="text">Colors</div>
    </div>

</div>