.sidebar {
    position: sticky;
    top: 15px;
    border-radius: 10px;
    padding: 20px 0px;
    height: calc(100vh - 20px);
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--white);
}

mat-icon {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

mat-icon:hover {
    color: var(--blue);
    transform: scale(2);
    transition-duration: 200ms;
    font-weight: 700;
}

.item {
    position: relative;
}

.text {
    position: absolute;
    top: 6px;
    right: -95px;
    display: flex;
    width: 0px;
    height: 75%;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    transition-duration: 200ms;
    transition-delay: 200ms;
    padding: none;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 2px 7px 7px 2px;
    visibility: hidden;
    clip-path: polygon(15% 0, 100% 0, 100% 99%, 15% 99%, 0 50%);
    padding-left: 15%;
}

.item:hover .text {
    width: 100px;
    visibility: visible;
}